<settings>
  <mirrors>
    <mirror>
      <id>internal-repository</id>
      <name>Nexus on monami-ya.com</name>
      <url>http://builder.monami-ya.com:8080/nexus/content/groups/public</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>builder.monami-ya.com</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
  </servers>
</settings>
